[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
peewee = "*"
django-registration-redux = "*"
django-simple-captcha = "*"


[dev-packages]

