{% extends 'templates/panel/base.html' %}
{% block title %}教师管理{% endblock %}
{% block include %}{% include 'panel/sidebar.html' %}{% endblock %}
{% block content %}
    <style>
        .my_td {
            cursor: pointer;
        }

        .my_tr:hover {
            background-color: #dddddd;
        }
    </style>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">教师预览</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-danger" onclick="deleteSelectTeacher();"><i class="fa fa-trash">删除教师</i>
                    </button>
                    <button type="button" class="btn btn-success" onclick="createTeacher()"><i class="fa fa-plus">添加教师</i></button>
                </div>
            </div>
            <div class="box-body">
                <form id="delete_form" action="{% url 'panel:delete_teacher' %}" method="post">
                    {% csrf_token %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width: 40px"><input id="select_all_checkbox" type="checkbox"></th>
                            <th>#</th>
                            <th>姓名</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for a_teacher in all_teacher %}
                            <tr class="my_tr">
                                <td><input class="choose_teacher" type="checkbox"
                                           name="check_{{ a_teacher.teacher_id }}">
                                <td class="my_td" onclick="clickUpdateTeacher({{ a_teacher.teacher_id }})">{{ a_teacher.teacher_id }}</td>
                                <td class="my_td" onclick="clickUpdateTeacher({{ a_teacher.teacher_id }})">{{ a_teacher.name }}</td>
                                <td class="my_td" onclick="clickUpdateTeacher({{ a_teacher.teacher_id }})">{% if a_teacher.description == None %}
                                {% else %}
                                    {{ a_teacher.description }}
                                {% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script>
        $('#select_all_checkbox').click(function () {
            if ($(this).is(':checked')) {
                $(".choose_teacher").each(function () {
                    //此处如果用attr，会出现第三次失效的情况
                    $(this).prop("checked", true);
                });
            } else {
                $(".choose_teacher").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        function deleteSelectTeacher() {
            $('#delete_form').submit();
        }

        function createTeacher() {
            var new_url = "{% url 'panel:create_teacher' %}?type=create";
            generateAutoReloadWindow(new_url, 'height=600, width=600, top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=yes,location=no, status=no');
        }

        function clickUpdateTeacher(teacher_id) {
            var new_url = "{% url 'panel:create_teacher' %}?type=update&teacher_id=" + teacher_id.toString();
            generateAutoReloadWindow(new_url, 'height=600, width=600, top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=yes,location=no, status=no');
        }
    </script>
{% endblock %}