<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/css/skins/_all-skins.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/my_common.css' %}">
    {% block link %}{% endblock %}
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
</head>
<body class="skin-black-light sidebar-mini">
<div class="wrapper">
    {% include 'templates/header.html' %}
    {% include 'templates/rating/sidebar.html' %}
    <div class="content-wrapper">
        {% block content %}
        {% endblock %}
    </div>

</div>


<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'adminlte/js/adminlte.min.js' %}"></script>
<script src="{% static 'common/common.js' %}"></script>
{% block script %}{% endblock %}
</body>
</html>