{% extends 'questionnaire/base.html' %}
{% block title %}问卷选择{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="box box-info">
                    <div class="box-header">
                        选择事件
                    </div>
                    <div class="box-body">
                        <ul>
                            {% for event in all_event %}
                                <li><a href="{% url 'questionnaire:event_overview' event.event_id %}">{{ event.title }}({{ event.description }})</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </section>
{% endblock %}